@import url("https://fonts.googleapis.com/css2? family= Open+Sans & display=swap");

body {
  background-color: #e4e4e4;
}

header {
  background-color: #000;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  transition: 0.4s;
}

header ul li a:hover {
  background-color: #8921ac;
}

/* header ul li:last-child a {
  float: right;
  background-color: #8921ac;
} */

main {
  margin-left: 10px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}
